*{
    margin: 0;
}
#logo{
    background-color: #ff7f50;
    width: 25%;
    height: 100px;
    float: left;
}
#baner{
    float: left;
    background-color: #ff7f50;
    text-align: center;
    width: 75%;
    height: 100px;
    font-size: 130%;
}
#glowny{
    clear: both;
    background-color: #ff7f50;
    padding: 70px;
}
#lewy{
    width: 40%;
    height: 400px;
    float: left;
}
#prawy{
    width: 60%;
    height: 400px;
    text-align: right;
    float: left;
}
footer{
    background-color: #ff7f50;
    padding: 20px;
    clear: both;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fffafa;
}
form{
    margin: 80px;
}
table{
    color: white;
    text-align: center;
    width: 80%;
    border: 1px dotted white;
}
tr:hover{
    background-color: #d3d3d3;
    color: black;
}
